<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="goodee.gdj58.online.mapper.question.QuestionMapper">
	<!-- 문제 수정 -->
	<update id="updateQuestion">
		UPDATE question 
		SET question_title = #{questionTitle}
		WHERE test_no = #{testNo}  AND question_no = #{questionNo}
	</update>
	
	<!-- 시험지 등록 후 문제 등록 -->
	<insert id="insertQuestion" parameterType="map" useGeneratedKeys="true" keyProperty="questionNo">
		INSERT INTO question(
			test_no
			, question_idx
			, question_title
			, question_score
		) VALUES (
			#{testNo}
			, #{questionIdx}
			, #{questionTitle}
			, #{questionScore}
		)
	</insert>
</mapper>