<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.test.TestMapper">

	<!-- 시험 수정 -->
	<update id="updateTest" parameterType="goodee.gdj58.online.vo.Test">
		UPDATE test 
		SET test_title = #{testTitle}, createdate = #{createdate}
		WHERE test_no = #{testNo}
	</update>

	<!-- 시험지 상세 보기 -->
	<select id="testOne" resultType="map" parameterType="int">
		SELECT
			q.question_no questionNo
			, q.question_idx questionIdx
			, q.question_title questionTitle
			, e.example_no exampleNo
			, e.example_idx exampleIdx
			, e.example_title exampleTitle
			, e.answer answer
		FROM question q INNER JOIN example e
		ON q.question_no = e.question_no
		WHERE q.test_no = #{testNo}
		ORDER BY q.question_no ASC
	</select>
	
	<!-- 시험 제목, 문제 개수 출력 -->
	<select id="selectTestTitle" resultType="goodee.gdj58.online.vo.Test" parameterType="int">
		SELECT
			test_no testNo
			, test_title testTitle
			, question_count questionCount
			, createdate
		FROM test
		WHERE test_no = #{testNo}
	</select>

	<!-- 시험 등록 -->
	<insert id="insertTest" parameterType="goodee.gdj58.online.vo.Test" >
		INSERT INTO test(
			test_title
			, question_count
			, createdate
		) VALUES (
			#{testTitle}
			, #{questionCount}
			, #{createdate}
		)
	</insert>

	<!-- 관리자 데이터 총 개수 -->
	<select id="countTest" resultType="int" parameterType="string">
		SELECT COUNT(*) FROM test
		<if test="searchWord != null || searchWord != ''">
			<where>
				test_title LIKE CONCAT('%', #{searchWord}, '%')
			</where>
		</if>
	</select>
	
	<!-- 강사용 :  질문이 생성되지 않은 시험 리스트 -->
	<select id="selectTestNotQuestionList" resultType="map">
		SELECT
			t.test_no testNo
			, t.test_title testTitle
			, t.createdate
		FROM test t LEFT JOIN question q
		ON t.test_no = q.test_no
		LEFT  JOIN example e
		ON q.question_no = e.question_no
		WHERE q.question_no IS NULL AND e.example_no IS NULL
		GROUP BY t.test_no
	</select>
	
	<!-- 강사용 : 질문이 생성된 시험 리스트 -->
	<select id="selectTestHaveQuestionList" resultType="map" parameterType="map">
		SELECT
			t.test_no testNo
			, t.test_title testTitle
			, t.createdate
		FROM test t INNER JOIN question q
		ON t.test_no = q.test_no
		INNER JOIN example e
		ON q.question_no = e.question_no
		<if test="searchWord != null || searchWord != ''">
			<where>
				test_title LIKE CONCAT('%', #{searchWord}, '%')
			</where>
		</if>
		GROUP BY t.createdate DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
</mapper>