<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.teacher.TeacherMapper">
	<!-- 강사 로그인 -->
	<select id="login" resultType="goodee.gdj58.online.vo.Teacher" parameterType="goodee.gdj58.online.vo.Teacher">
		SELECT
			teacher_no teacherNo
			, teacher_id teacherId
			, teacher_name teacherName
		FROM teacher
		WHERE teacher_id = #{teacherId} AND teacher_pw = PASSWORD(#{teacherPw})
	</select>

	<!-- 강사 삭제 -->
	<delete id="deleteTeacher" parameterType="int">
		DELETE FROM teacher
		WHERE teacher_no = #{teacherNo}
	</delete>

	<!-- 강사 등록 -->
	<insert id="insertTeacher" parameterType="goodee.gdj58.online.vo.Teacher">
		INSERT INTO teacher (
			teacher_id
			, teacher_pw
			, teacher_name
		) VALUES (
			#{teacherId}
			, PASSWORD(#{teacherPw})
			, #{teacherName}
		) 
	</insert>

	<!-- 강사 리스트 출력 -->
	<select id="selectTeacherList" resultType="goodee.gdj58.online.vo.Teacher" parameterType="map">
		SELECT 
			teacher_no teacherNo
			, teacher_id teacherId
			, teacher_name teacherName
		FROM teacher
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
</mapper>