<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.example.ExampleMapper">

	<!-- 문제의 정답 exampleIdx -->
	<select id="questionAnswer" resultType="int" parameterType="int">
		SELECT
			example_idx exampleIdx
		FROM example
		WHERE question_no = #{questionNo} AND answer = '정답'
	</select>

	<!-- 보기 수정 -->
	<update id="updateExample" parameterType="map">
		UPDATE example
		SET example_title = #{exampleTitle}, answer = #{answer}
		WHERE question_no = #{questionNo} AND example_no = #{exampleNo}
	</update>

	<!-- 문제당 보기 등록 -->
	<insert id="insertExample" parameterType="map">
		INSERT INTO example(
			question_no
			, example_idx
			, example_title
			, answer
		) VALUES (
			#{questionNo}
			, #{exampleIdx}
			, #{exampleTitle}
			, #{answer}
		)
	</insert>
</mapper>